<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="unit">
      <directory>./test/unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>./test/integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="TESTS_LAMINAS_CACHE_REDIS_HOST" value="127.0.0.1"/>
    <env name="TESTS_LAMINAS_CACHE_REDIS_PORT" value="6379"/>
    <env name="TESTS_LAMINAS_CACHE_REDIS_PASSWORD" value=""/>
    <env name="TESTS_LAMINAS_CACHE_REDIS_DATABASE" value="0"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
